* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    height: 100vh;
    font-family: sans-serif;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
    color: #fff;
    padding: 10px;
    margin: 30px 100px;
}

.logo {
    margin-right: 20px;
    padding: 10px;
}

.nav {
    display: flex;
}

.home, .explore {
    margin-right: 10px;
    padding: 10px;
    color: lightgray;
    font-size: larger;
}


.title {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
}

.headline {
    color: white;
    font-weight: 600;
    font-size: 100px;
}

.lead {
    color: lightgray;
    font-size: 1.2em;
}

.overview {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.list {
    font-size: 24px;
    flex: 1; 
    color: #e9ecef
    
}

.date {
    font-size: 16px;
    text-align: right;
    color: lightgray;
    margin-bottom: 20px;
   
}

hr{
    margin: auto;
    width: 100%;
    
}

.overview:hover .list,
.overview:hover .date,
.home:hover,
.explore:hover {
    color: white;
    /* font-weight: bold; */
    cursor: pointer;
}